<div class="container">

  <!-- SERIE 1 -->

  <h4 style="margin-top: 30px;">SERIE 1</h4>
  <hr>

  <div class="d-flex">
    <div class="row">
      <div class="img__wrap col-12 col-lg-4 portfolio">
        <div class="three"><%= image_tag("image8.jpg") %></div>
        <div class="img__description d-flex flex-column align-items-center justify-content-center youtube">
          <p>Make-up for clip "Alice Spa".</p>
          <a href="https://www.youtube.com/watch?v=gzhbHdPKwMo&fbclid=IwAR2Qd8Gp_07EE42y-_pLk88bpc75LIwCfaTm5VwIEyjzaqg3QS5jL7y2css" target="_blank">Click here to see the video</a>
        </div>
      </div>
      <div class="img__wrap col-12 col-lg-4 portfolio">
        <div class="five"><%= image_tag("image10.jpg") %></div>
        <div class="img__description d-flex flex-column align-items-center justify-content-center youtube">
          <p>Make-up for clip "Alice Spa".</p>
          <a href="https://www.youtube.com/watch?v=gzhbHdPKwMo&fbclid=IwAR2Qd8Gp_07EE42y-_pLk88bpc75LIwCfaTm5VwIEyjzaqg3QS5jL7y2css" target="_blank">Click here to see the video</a>
        </div>
      </div>
      <div class="img__wrap col-12 col-lg-4 portfolio">
        <div class="six"><%= image_tag("image9.jpg") %></div>
        <div class="img__description d-flex flex-column align-items-center justify-content-center youtube">
          <p>Make-up for clip "Alice Spa".</p>
          <a href="https://www.youtube.com/watch?v=gzhbHdPKwMo&fbclid=IwAR2Qd8Gp_07EE42y-_pLk88bpc75LIwCfaTm5VwIEyjzaqg3QS5jL7y2css" target="_blank">Click here to see the video</a>
        </div>
      </div>
    </div>
  </div>

  <!-- SERIE 2 -->

  <h4 style="margin-top: 40px;">SERIE 2</h4>
  <hr>

  <div class="d-flex" style="margin-bottom: 50px;">
    <div class="row">
      <div class="col-12 col-lg-8" style="padding: 0;">
        <div class="img__wrap portfolio2">
          <div class="seven"> <%= image_tag("image5.jpg") %></div>
          <p class="img__description d-flex align-items-center justify-content-center">Make-up for designer Chiron Floris.</p>
        </div>
      </div>
      <div class="col-12 col-lg-4" style="padding: 0;">
        <div class="img__wrap portfolio1">
          <div class="eight"> <%= image_tag("image7.jpg") %></div>
          <p class="img__description d-flex align-items-center justify-content-center">Make-up for cover of Straz. Photo by Lou West.</p>
        </div>
        <div class="img__wrap portfolio3">
          <div class="nine">
            <div><%= image_tag("image11.JPG") %></div>
            <p class="img__description d-flex align-items-center justify-content-center">Make-up for designer Chiron Floris.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- SERIE 3 -->

  <h4 style="margin-top: 40px;">SERIE 3</h4>
  <hr>

  <div class="d-flex" style="margin-bottom: 50px;">
    <div class="row">
      <div class="img__wrap col-12 col-lg-4 portfolio1">
        <div class="ten"><%= image_tag("image16.JPG") %></div>
        <p class="img__description d-flex align-items-center justify-content-center">Photo by Gisele Lepinne.</p>
      </div>
      <div class="img__wrap col-12 col-lg-4 portfolio1">
        <div class="eleven"><%= image_tag("image17.JPG") %></div>
        <p class="img__description d-flex align-items-center justify-content-center">Photo by Gisele Lepinne.</p>
      </div>
      <div class="img__wrap col-12 col-lg-4 portfolio1">
        <div class="twelve"><%= image_tag("image18.JPG") %></div>
        <p class="img__description d-flex align-items-center justify-content-center">Photo by Gisele Lepinne.</p>
      </div>
    </div>
  </div>



<!-- SERIE 4 -->

  <h4 style="margin-top: 40px;">SERIE 4</h4>
  <hr>

  <div class="d-flex" style="margin-bottom: 50px;">
    <div class="row">
      <div class="img__wrap col-12 col-lg-4 portfolio1">
        <div class="ten"><%= image_tag("image6.jpg") %></div>
        <p class="img__description d-flex align-items-center justify-content-center">Photo by Sacha Fooy.</p>
      </div>
      <div class="img__wrap col-12 col-lg-4 portfolio1">
        <div class="eleven"><%= image_tag("image13.jpg") %></div>
        <p class="img__description d-flex align-items-center justify-content-center">Photo by Sacha Fooy.</p>
      </div>
      <div class="img__wrap col-12 col-lg-4 portfolio1">
        <div class="twelve"><%= image_tag("image15.jpg") %></div>
        <p class="img__description d-flex align-items-center justify-content-center">Photo by Sacha Fooy.</p>
      </div>
    </div>
  </div>

</div>
